{% extends "liquore_store_app/base.html" %}
{% load static %}

{% block content %}

<main id="main">
    <section class="breadcrumbs">
      <div class="container">

      </div>
    </section>

    <section class="inner-page">
    
    <div style="margin: 100px; text-align: justify;">
        <h1 style="text-align: center; color: darkorange;">POLÍTICAS DE ENTREGA</h1><br>
    <p>
        <strong>Cobertura:</strong>LiquoreStore.com realiza despachos exclusivamente a las siguientes ciudades ubicadas en el territorio nacional 
        (Colombia): Medellín, Sabaneta, Envigado, Itagüí, Bello, Rionegro, La Ceja, El Retiro (Antioquia), Cartagena, Bucaramanga, Cali, Bogotá, 
        Chía, Cajicá (Cundinamarca) Barranquilla, Ibagué, Montería, Valledupar, Santa Marta, Pereira.
        
        <br><br><strong style="color: coral;">Costos de envío, tiempos de entrega y horarios:</strong>
        
        <br><br><strong>Compra inferior a 150mil pesos</strong> 
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Costo del envío 10MIL PESOS ($10.000)
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Tiempo de entrega 2 DÍAS HÁBILES 
        
        <br><br><strong>Compra superior a 150mil pesos </strong>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Costo del envío GRATIS
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Tiempo de entrega 1 DÍA HÁBIL 
        
        <br><br><strong style="color: coral;">Recogida en tienda </strong>
        <br><br><strong>Tiempo de entrega:</strong> el cliente podrá recoger el producto en la tienda seleccionada en el proceso de check out, 
        en las siguientes 2 horas después de realizada la compra. Debe presentar la factura que le llega a su email y el tiempo máximo de guardado 
        de producto en tienda son 5 días. 
        <br>Esta recogida aplica en los siguientes horarios de compra:
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Lunes a viernes de 8:00AM a 5:00PM
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Sábados de 8:00 AM a 11:30 AM 
        <br>&nbsp;&nbsp;&nbsp;&nbsp;Domingos no se encuentra habilitada la recogida en tienda.
        <br><br>Los tiempos de entrega empiezan a contar a partir de la confirmación del pago. Para pagos con tarjeta de crédito y PayPal, 
        la plataforma de pagos deberá aprobar la transacción de acuerdo con el análisis de los datos, lo cual puede tardar hasta un día hábil.
        <br><br>Las entregas no se pueden realizar en un horario exacto. En caso de que tengas alguna inquietud con el despacho del producto puedes 
        comunicarte con la línea de atención y ventas de Whastapp <strong>301 222 91 39</strong> o a nuestro chat (en <strong>horario de 8:00 am a 7:00 pm de lunes a viernes y de 8:00 am a 4:00 pm los sábados</strong>), también puedes escribirnos al correo <strong> disliquorestore@gmail.com </strong> o a través de nuestra página web en el formulario de ‘Contáctenos’.
    </p>
</div>

    </section>

    <section class="breadcrumbs">
        <div class="container">
      
        </div>
    </section>
    

  </main><!-- End #main -->

  
 
    
  

{% endblock %}

